@page

@{
    Layout = "Shared/_Layout";
}

 <amp-story standalone
           title="Story With User Consent"
           publisher="Google"
           poster-portrait-src="https://amp.dev/img/story_video_dog_cover.jpg"
           publisher-logo-src="https://amp.dev/static/samples/img/amp_logo_pink.svg">

    <!--
    The `amp-consent` component supports specifying a CORS endpoint via the `checkConsentHref` attribute, which the component queries via a POST request to determine if the consent UI specified for it needs to be shown. The response should look like this:
    ```json
    {
    "consentRequired": boolean (required),
    "consentStateValue": enum (accepted/rejected/unknown) (optional),
    "consentString": string (optional),
    "expireCache": boolean (default false),
    }
    ```
    The response will indicate if the consent needs to be shown or not. If it needs to be shown, the element with the id given in `promptUI` will be displayed. For AMP Stories, you can specify [consent title, message and a list of vendors](/content/amp-dev/documentation/components/reference/amp-consent.md#prompt-ui-for-stories) inside a nested `amp-story-consent` element.
    -->
    <amp-consent id="amp-consent" layout="nodisplay">
        <script type="application/json">
          {
            "consents": {
              "myConsent2": {
                "purposeConsentRequired": ["purpose-analytics", "purpose-marketing"],
                "consentInstanceId": "my-amp-story-consent",
                "consentRequired": "remote",
                "checkConsentHref": "_wf/preferences/communication",
                "promptUI": "consent-ui"
              }
            }
          }
        </script>
        <amp-story-consent id="consent-ui" layout="nodisplay">
            <script type="application/json">
            {
              "title": "Headline",
              "message": "This is some more information about this choice. Here's a list of items related to this choice.",
              "vendors": ["Item 1", "Item 2", "Item 3", "Item 4", "Item 5", "Item 6", "Item 7", "Item 8", "Item 9", "Item 10"]
            }
          </script>
            <style i-amphtml-story-consent-vendor>
             .i-amphtml-story-consent-vendor {
                  display: flex;
                  align-items: center;

                  background: #f4f4f4;
                  padding: 0 15px;

                  font-size: .8em;

                  border: solid #dcdcdc;
                  border-width: 1px 0;
                }
                li  {background: #3f51b5}
            </style>
        </amp-story-consent>
        @* <div id="consent-ui"> *@
        @*     <button on="tap:consent-element.accept">Accept</button> *@
        @*     <button on="tap:consent-element.reject">Reject</button> *@
        @*     <button on="tap:consent-element.dismiss">Dismiss</button> *@
        @* </div> *@


    </amp-consent>

    <amp-story-page id="page-1">
        <amp-story-grid-layer template="fill">
            <amp-video autoplay loop
                       width="400"
                       height="750"
                       poster="https://amp.dev/static/samples/img/poster0.png"
                       layout="fill">
                <source src="https://amp.dev/static/samples/video/p1.mp4" type="video/mp4">
            </amp-video>
        </amp-story-grid-layer>
        <amp-story-grid-layer template="vertical" class="bottom">
            <div class="icon"></div>
            <h1 class="bold">Key Highlights of AMP Conf 2018</h1>
            <p class="byline">By The AMP team</p>
        </amp-story-grid-layer>
    </amp-story-page>

    <amp-story-page id="page-2">
        <amp-story-grid-layer template="fill">
            <amp-img width="400" height="750" layout="fill" src="https://amp.dev/static/samples/img/overview.jpg"></amp-img>
        </amp-story-grid-layer>
        <amp-story-grid-layer template="vertical" class="bottom">
            <h2 class="bold">Overview</h2>
            <p>
                We held the second AMP Conf to celebrate the breadth of the AMP
                community and announce the latest AMP innovations. We engaged 400+
                devs in-person over two days and thousands globally on live stream.
            </p>
            <p class="last">Here are the key launches by the AMP team and others this year</p>
        </amp-story-grid-layer>
    </amp-story-page>

    <amp-story-bookend src="https://amp.dev/static/samples/json/bookend.json" layout="nodisplay">
    </amp-story-bookend>

</amp-story>


@section scripts
{
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-consent" src="https://cdn.ampproject.org/v0/amp-consent-0.1.js"></script>
    <script async custom-element="amp-fit-text" src="https://cdn.ampproject.org/v0/amp-fit-text-0.1.js"></script>
    <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>
    <script async custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js"></script>
    <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
    <script async custom-element="amp-video" src="https://cdn.ampproject.org/v0/amp-video-0.1.js"></script>
    <script async custom-element="amp-story" src="https://cdn.ampproject.org/v0/amp-story-1.0.js"></script>
  <script async src="https://cdn.ampproject.org/v0/amp-viewer-integration-0.1.js"></script>

}