@page "/communication"

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="//acdn.origin.appnexus.net/cmp/cmp.complete.bundle.js" async></script>


</head>
<body>
<div>
bod
</div>
</body>
</html>