@page
@model AspNetCoreDemoApp.Pages.Page
@using CommunicationPreferences
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <Component1 />
</div>
</body>
</html>